[tool.poetry]
name = "xor-cipher"
version = "2.4.0"
description = "Simple, reusable and optimized XOR ciphers in Python."
authors = ["nekitdev", "RealistikDash"]
license = "MIT"

readme = "README.md"

homepage = "https://github.com/xor-cipher/xor-cipher"
repository = "https://github.com/xor-cipher/xor-cipher"
documentation = "https://xor-cipher.github.io/xor-cipher"

keywords = ["python", "xor", "cipher"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Utilities",
    "Typing :: Typed",
]

[tool.poetry.urls]
Issues = "https://github.com/xor-cipher/xor-cipher/issues"

[[tool.poetry.packages]]
include = "xor_cipher"

[[tool.poetry.include]]
path = "xor_cipher/*.so"
format = "wheel"

[[tool.poetry.include]]
path = "xor_cipher/*.pyd"
format = "wheel"

[[tool.poetry.include]]
path = "xor_cipher"
format = "wheel"

[tool.poetry.build]
generate-setup-file = false
script = "build.py"

[tool.poetry.dependencies]
python = ">= 3.7"

[tool.poetry.group.format]
optional = true

[tool.poetry.group.format.dependencies]
black = "22.8.0"

[tool.poetry.group.format.dependencies.isort]
version = "5.10.1"
python = "^3.7"

[tool.poetry.group.check]
optional = true

[tool.poetry.group.check.dependencies]
mypy = "0.991"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "7.1.3"
pytest-cov = "3.0.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "1.3.1"
mkdocs-material = "8.5.3"

[tool.poetry.group.docs.dependencies.mkdocstrings]
version = "0.19.0"
extras = ["python"]

[tool.poetry.group.dev.dependencies]
changelogging = "1.0.0"

[tool.black]
line_length = 100

[tool.isort]
line_length = 100
profile = "black"

[tool.pytest.ini_options]
addopts = "--cov xor_cipher"
testpaths = ["tests"]

[tool.coverage.run]
source = ["xor_cipher"]

[tool.coverage.report]
ignore_errors = true
exclude_lines = [
    "pragma: never",
    "pragma: no cover",
    "if TYPE_CHECKING",
    "@overload",
    "@abstractmethod",
    "raise NotImplementedError",
    "raise AssertionError",
    "def __repr__",
]

[tool.coverage.html]
directory = "coverage"

[tool.mypy]
show_column_numbers = true

disallow_any_decorated = true
disallow_any_generics = true
warn_return_any = true

no_implicit_optional = true
strict_optional = true

strict_equality = true

disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_untyped_decorators = true
disallow_untyped_globals = true

disallow_incomplete_defs = true

warn_no_return = true
warn_unreachable = true

warn_redundant_casts = true
warn_unused_ignores = false  # compatibility

[tool.changelog]
name = "xor-cipher"
version = "2.4.0"
url = "https://github.com/xor-cipher/xor-cipher"
directory = "changes"
output = "CHANGELOG.md"

start_string = "<!-- changelogging: start -->"

title_format = "{version} ({date})"
issue_format = "[#{issue}]({url}/pull/{issue})"

bullet = "-"
wrap = true
wrap_size = 100

display = ["feature", "change", "fix", "security", "deprecation", "removal", "internal"]

[build-system]
requires = ["poetry-core >= 1.3.2", "cython >= 0.29.32", "entrypoint >= 1.3.0", "setuptools >= 65.6.3"]
build-backend = "poetry.core.masonry.api"
