name: check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - "**"

jobs:
  check:
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          version: latest
          python-version: ${{ matrix.python-version }}

      - name: Run type checks
        run: uv run mypy .
